<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Zde můžete přidávat uživatele</h1>
<form action="add"  method="post">
    <label>Name of product: </label>
    <input type="text" name="prName"/><br/>
    <label>Price of product: </label>
    <input type="number" name="prPrice"/><br/>
    <label>Stocks of product: </label>
    <input type="checkbox" name="prStocks"/><br/>

    <button type="submit">Submit</button>
</form>
</body>
</html>